<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/bookmarks.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/angular.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/tether.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"/>
    <title>Sign In</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <div class="col-md-12">
        <div class="col col-md-4">
            <h2>Sign In</h2>
            <form name="login" th:action="@{/login}" method="post" style="width: 300px">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <label for="username">Email:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" id="username" placeholder="Enter email" name="username"
                           autofocus required="required">
                </div>
                <label for="pass">Password:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="pass" placeholder="Enter password"
                           name="pass" required="required">
                </div>
                <button type="submit" class="form-control btn btn-success"
                        style="margin-top: 15px; margin-bottom: 15px" th:text="${'Войти'}">
                </button>
            </form>
        </div>

        <div class="col col-md-4 pull-right">
            <h2>Sign On</h2>
            <form name="register" th:action="@{/register}" method="post" id="register" style="width: 300px">
                <div th:if="${error}">
                    <div class="alert alert-danger">
                        Почта уже используется!
                    </div>
                </div>
                <label for="name">Name: </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="Enter your name"
                           autofocus required="required">
                </div>
                <label for="email">Email:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                           required="required">
                </div>
                <label for="password">Password:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                           name="password" required="required">
                </div>
                <button type="submit" class="form-control btn btn-success pull-right"
                        style="margin-top: 15px; margin-bottom: 15px" th:text="${'Зарегистрироваться'}">
                </button>
            </form>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>